<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngif="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/products']">
            <mat-icon>list</mat-icon>
        </a>
    </div>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                <h2>{{product.prod_name}}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{product.prod_desc}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt>Product Price:</dt>
                <dd>{{product.prod_price}}</dd>
                <dt>Updated At:</dt>
                <dd>{{product.updated_at | date}}</dd>
            </dl>
        </mat-card-content>
        <mat-card-actions>
                <a mat-flat-button color="primary" [routerLink]="['/product-edit', product._id]"><mat-icon>edit</mat-icon></a>
                <a mat-flat-button color="warn" (click)="deleteProduct(product._id)"><mat-icon>delete</mat-icon></a>
        </mat-card-actions>
    </mat-card>
</div>