<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngif="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/product-add']">
        <mat-icon>add</mat-icon></a>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="data" class="example-table"
               matSort matSortActive="prod_name" matSortDisableclear matSortDirections="asc">
            
               <!-- Product Name Column -->
               <ng-container matColumnDef="prod_name">
                   <th mat-header-cell *matHeaderCellDef>Product Name</th>
                   <td mat-cell *matCellDef="let row">{{row.prod_name}}</td>
               </ng-container>

               <!-- Product Price Column -->
               <ng-container matColumnDef="prod_price">
                   <th mat-header-cell *matHeaderCelldef>Product Price</th>
                   <td mat-cell *matCellDef="let row">$ {{row.prod_price}}</td>
               </ng-container>

               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matrowDef="let row; columns: displayColumns;" [routerLink]="['/product-details/', row.id]"></tr>
            </table>
    </div>
</div>